@model IEnumerable<SeminarskaNalogaIvan.Models.Predmeti>

@{
    ViewBag.Title = "isci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>isci</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Tip: @Html.TextBox("Predmeti")<br />
        <input type="submit" value="Filter" />
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oceni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredmetiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredmetiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredmetiName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PredmetiId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oceni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PredmetiName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oceni)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PredmetiId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PredmetiId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PredmetiId })
                </td>
            </tr>
        }

    </table>
